{% extends 'base.html' %}
{% block content %}
  <form method = "post">
    <label for="name">Name</label>
    <input name="name" id="name" required>
    <label for="age">Age</label>
    <input name="age" id="age" required>
    <label for="gender">Gender</label>
    <input type="gender" name="gender" id="gender" required>
    <label for="height">Height</label>
    <input name="height" id="height" required>
    <label for="weight">Weight</label>
    <input type="weight" name="weight" id="weight" required>
    <label for="exfre">Exfre</label>
    <input name="exfre" id="exfre" required>
    <label for="cushemo">Cushemo</label>
    <input type="cushemo" name="cushemo" id="cushemo" required>
    <label for="cushema">Cushema</label>
    <input type="cushema" name="cushema" id="cushema" required>
    <label for="custri">Custri</label>
    <input type="custri" name="custri" id="custri" required>
    <label for="cushdl">Cushdl</label>
    <input type="cushdl" name="cushdl" id="cushdl" required>
    <label for="cusglu">Cusglu</label>
    <input type="cusglu" name="cusglu" id="cusglu" required>
    <label for="cusa1c">Cusa1c</label>
    <input type="cusa1c" name="cusa1c" id="cusa1c" required>
    <label for="cusuric">Cusuric</label>
    <input type="cusuric" name="cusuric" id="cusuric" required>
    <input type="submit" value="Add">
  </form>
{% endblock %}
  