{% extends 'base.html' %}
{% block content %}
<h1>Personal requirement</h1>
<textarea id="personal" name="personal" rows="4" cols="50">
    Calories needed: Calories
    Carbohydrate needed: Carbohydrate
    Protein needed: Protein
    Fats needed: Fats
</textarea>
<label for = 'hemo'>Hemoglobin</label>
<label for = 'hema'>Hematocrit</label>
<label for = 'tri'>Triglyceride</label>
<label for = 'hdl'>HDL</label>
<label for = 'glu'>Glucose</label>
<label for = 'a1c'>A1C</label>
<label for = 'uric'>Uric</label>
{% endblock %}